@import "tailwindcss";

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Plus Jakarta Sans', sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(10,9,41);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: var(--font-secondary);
    font-weight: 700;
}
