@import "tailwindcss";

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(10,9,41);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: var(--font-primary);
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    letter-spacing: -0.01em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    font-weight: 600;
    letter-spacing: -0.02em;
}

h1 {
    font-weight: 700;
}

button {
    font-family: var(--font-primary);
    font-weight: 500;
}

input, textarea, select {
    font-family: var(--font-primary);
    font-weight: 400;
}
